@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1610370142405'); /* IE9 */
  src: url('iconfont.eot?t=1610370142405#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABjgAAAJBAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAYwE2AiQDCAsGAAQgBYRtBzEbigXInpo8KVIFgSLQui8WiMARD09r6fuzs5fNXoAVAMqkrAFQ1dciSlcjWQO66rtv7Tcf00qcRz6PP2GWNJ7P7onuDeqhUwqpQONHCI0QSUAq0uzL3fd5Lqc3gQ5k1AdKNMQ9aKzJR70AA0sDHGtRZAUUcsPYBS/wOIHaKE3v0MbeIUzI7HGBuJPKACYKEVlm+UpoNCzN4p1SlZ6nT+Bt9P34zYkJkrJgNx29vR7D0rdwiop7LS4GhCgBrS5RYBnIxMnGzGHDgnHD6syISXCs+uBbr9UK3OKoDsH+Oru2AwzDWPDNWyFAAjnp7gFGJl1Nqht3vw0Gpz58OHO/M1NnDqfT899JV9/4ybE9ueePv/2/n8TjCzKHpSmxf+mlVX6ysfFuevM7/6tmBl8XSzeyZ8N8VHvxBn9DNbAlGxrblbKmavQlPZPGJtRqtOBAn9+p1sFTF0Jl8Ab0bboqQ6EyTWZ2GaWmbTRU9qK2ZHN1Uz9lWOR2LHoBCD0+kHR5j0KPLzKzPygN+UNDTwyjdjr6t2yajXTqoKKAKcbwAtOoroTr4am4fp/kSRGovCbij0l1aRxtwyrnN6kitcSM7lQ6zAKFqkvcAKdRUdTYqDqjiI2Euembpmh6kxHVJUw5SCEBRmIodAGlIrWKCDqzqcrn9xHpRCGgOiR1xWNE6aS9I5vBGkBuGqtBkkd5pXNKcjAmIEGpldAGGEQKhRpqmgdlSIQZkgmpRp/ptBNDjcb20dIQW4maLQXuW2i7mQaVoBQAAA==') format('woff2'),
  url('iconfont.woff?t=1610370142405') format('woff'),
  url('iconfont.ttf?t=1610370142405') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1610370142405#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianfei:before {
  content: "\e601";
}

